<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Currency quotes</h5>
      <div class="d-flex">
        <div><b>Last updated: </b> <i>01/03/2021 12:00 AM</i></div>
        <button type="button" class="btn btn-outline-primary ml-auto">
          Update
        </button>
      </div>
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">Currency</th>
            <th scope="col">Sales Rate</th>
            <th scope="col">Purchase Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>USD</td>
            <td>92.75</td>
            <td>98.75</td>
          </tr>
          <tr>
            <td>BRL</td>
            <td>23.75</td>
            <td>27.75</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
